main {
   position: relative;
   width: 100%;
   height: 100%;
   z-index: 4;
}
main header {
   position: relative;
   top: 0;
   width: 100%;
   height: calc(var(--s) * 2.8);
   padding: 0 calc(var(--s) * 3.4);
   background: var(--color-primary);
   display: flex;
   justify-content: flex-start;
   align-items: center;
   border-bottom: solid 3px #110071;
}
main header .icon {
   position: relative;
   width: calc(var(--s) * 2.8);
   height: calc(var(--s) * 2.8);
   display: grid;
   place-items: center;
}
main header .icon img {
   width: 80%;
   height: 80%;
}

main .scroll {
   position: relative;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
}


main .scroll .chat-box {
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: calc(var(--m));
   flex-direction: column;
   padding: calc(var(--m));
   padding-bottom: calc(var(--input-h-max));
}
main .chat-box * {
   user-select: text;
   -ms-user-select: text;
}
.chat-box .chat {
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   gap: calc(var(--m) / 4);
}
.chat-box .outgoing {
   justify-content: flex-end;
}
.chat-box .incoming {
   gap: calc(var(--m) / 2); 
}
.chat-box .incoming img {
   position: relative;
   height: calc(var(--s) * 2);
   width: calc(var(--s) * 2);
   background: light-dark(#000a, #fffa);
   color: #fcf3f3;
   text-align: center;
   border-radius: 33%;
   padding: calc(var(--m) / 4);
   font-size: calc(var(--font-s) * 1);
   display: grid;
   place-items: center;
}

.chat-box .chat .message {
   position: relative;
   font-size: calc(var(--font-s) * 0.8);
   max-width: 75%;
   padding: calc(var(--m) * 1.4) calc(var(--m) * 2);
   gap: calc(var(--m));
   border-radius: var(--m) var(--m) 0 var(--m);
   background: var(--color-primary);
   display: flex;
   flex-direction: column;
}
.chat-box .chat .message * {
   color: #fff;
}
.chat-box .incoming .message {
   color: #000;
   background: light-dark(#222, #ddda);
   border-radius: 0 var(--m) var(--m) var(--m);
   outline: solid 1px #0008;
}

/* -------- color for prompt ---------- */
code[class*="language-"],
pre[class*="language-"] {
   color: light-dark(#fff, #000);
   background: 0 0;
   text-shadow: 0 1px light-dark(#000, #fff);
   font-family: f3;
   font-size: calc(var(--font-s) * 0.8);
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
}
code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
   text-shadow: none;
   background: #b3d4fc;
}
code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
   text-shadow: none;
   background: #b3d4fc;
}
@media print {
   code[class*="language-"],
   pre[class*="language-"] {
      text-shadow: none;
   }
}
pre[class*="language-"] {
   overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
   background: light-dark(var(--code-dark), var(--code-light));
}
:not(pre) > code[class*="language-"] {
   white-space: normal;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
   color: #708090;
}
.token.punctuation {
   color: #999;
}
.token.namespace {
   opacity: 0.7;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
   color: light-dark(rgb(255, 0, 140), #905);
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
   color: #690;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
   color: #9a6e3a;
   background: hsla(0, 0%, 100%, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
   color: #07a;
}
.token.class-name,
.token.function {
   color: #dd4a68;
}
.token.important,
.token.regex,
.token.variable {
   color: #e90;
}
.token.bold,
.token.important {
   font-weight: 700;
}
.token.italic {
   font-style: italic;
}
.token.entity {
   cursor: help;
}



.message ul,
.message ol {
   padding: 0 calc(var(--m));
}
.message ul li,
.message ol li {
   margin-left: calc(var(--m));
}
.message strong {
   font-family: f6b;
}
.message ul ::marker {
   content: "◆ ";
   font-size: calc(var(--font-s) * 1);
   color: #0004ff;
}
.message ol ::marker {
   font-size: calc(var(--font-s) * 0.8);
   font-family: f7b;
   color: #9000ff;
}
.message code {
   font-family: f0;
   font-size: calc(var(--font-s) * 0.7);
}
.message code > *{
   font-size: calc(var(--font-s) * 0.8);
}
.message pre {
   position: relative;
   padding: calc(var(--m));
   border-radius: calc(var(--m) / 2);
}
.message table {
   outline: solid 1px light-dark(#fff, #000);
   border-radius: var(--m);
   overflow: hidden;
}
.message table tr td,
.message table tr th {
   position: relative;
   color: light-dark(#fffe, #000e);
   padding: calc(var(--m));
   outline: solid 1px light-dark(#000, #fff);
   background: light-dark(#000a, #fffa);
}
.message table tr th {
   background: light-dark(#000c, #fffc);
}
