main {
   position: relative;
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-rows: var(--header-h) 1fr;
   overflow: hidden;
   z-index: 3;
}

@media (min-width: 850px) {
   body main {
      margin-left: 0;
      transition: margin-left 400ms, width 400ms;
   }
   body.active-nav main {
      margin-left: var(--nav-w);
      width: calc(100% - var(--nav-w));
   }
   body.active-nav main header .icon {
      transform: translateX(calc(var(--nav-w) * -0.5));
   }
}
main header {
   position: relative;
   width: 100%;
   height: var(--header-h);
   padding: 0 calc(var(--s) * 3.4);
   background: var(--color-primary);
   display: flex;
   justify-content: flex-start;
   align-items: center;
   border-bottom: solid 2px #110071;
   transition: padding 400ms;
}
main header .icon {
   position: relative;
   width: calc(var(--header-h) * 0.8);
   height: calc(var(--header-h) * 0.8);
   display: grid;
   place-items: center;
   transition: transform 400ms;
}
main header .icon img {
   width: 100%;
   height: 100%;
}

main .scroll {
   position: relative;
   width: var(--chat-w);
   margin: 0 auto;
   height: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
}
/* ------------- chat content ----------- */
main .scroll .chat-box {
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: calc(var(--m));
   flex-direction: column;
   padding: calc(var(--m));
   padding-bottom: calc(var(--input-h) + var(--s));
}
main .chat-box * {
   user-select: text;
   -ms-user-select: text;
}
.chat-box .chat {
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   gap: calc(var(--m) / 4);
}
.chat-box .outgoing {
   justify-content: flex-end;
}
.chat-box .incoming {
   gap: calc(var(--m) / 2);
}
.chat-box .incoming img {
   position: relative;
   height: calc(var(--s) * 2);
   width: calc(var(--s) * 2);
   background: light-dark(#fff8, #0008);
   color: #fcf3f3;
   text-align: center;
   border-radius: 33%;
   padding: calc(var(--m) / 4);
   font-size: calc(var(--font-s) * 1);
   display: grid;
   place-items: center;
}
.chat-box .chat .message {
   position: relative;
   font-size: calc(var(--font-s) * 0.8);
   max-width: 85%;
   padding: calc(var(--m) * 1.4) calc(var(--m) * 2);
   gap: calc(var(--m));
   border-radius: var(--m) var(--m) 0 var(--m);
   color: #fff;
   background: var(--color-primary);
   display: flex;
   flex-direction: column;
}
@media (max-width: 450px) {
   .chat-box .incoming {
      flex-direction: column;
   }
   .chat-box .incoming .message {
      width: fit-content;
      max-width: 95%;
      margin-left: calc(var(--m) * 0.8);
   }
}
.chat-box .incoming .message {
   color: light-dark(#333, #ddd);
   background: light-dark(#ddda, #0003);
   border-radius: 0 var(--m) var(--m) var(--m);
   outline: solid 1px light-dark(#ddda, #0005);
}
.chat-box .incoming .message *:not(code *, pre *) strong {
   color: light-dark(#111, #fff);
}

main .scroll .chat-box:not(:has(.chat)) {
   height: 100%;
}

/* ---------------- chat suggestion -------------- */
main .scroll .chat-box .suggestions {
   position: relative;
   width: 100%;
   max-height: calc(100svh - calc(var(--input-h) + var(--header-h) + var(--s)));
   padding: 0 calc(var(--m));
   display: flex;
   flex-wrap: wrap;
   gap: calc(var(--m) / 2);
   justify-content: center;
   opacity: 1;
   transition: linear 400ms opacity;
   align-items: center;
}
main .scroll .chat-box .suggestions * {
   user-select: none;
   -ms-user-select: none;
   -moz-user-select: none;
}
main .scroll .chat-box:has(.chat) .suggestions {
   position: absolute;
   opacity: 0;
   pointer-events: none;
}
main .scroll .chat-box .suggestions .content {
   position: relative;
   width: calc(var(--card-w) - var(--m));
   height: calc(var(--card-h) - var(--m));
   margin: calc(var(--m) / 2);
   padding: calc(var(--m));
   border-radius: calc(var(--m));
   display: grid;
   background: light-dark(#fff1, #0001);
   outline: solid 1px light-dark(#0002, #fff2);
   cursor: var(--cursor);
   opacity: 1;
   transition: ease-in-out background 300ms, ease-in-out outline 300ms,
      opacity linear 1000ms;

   @starting-style {
      opacity: 0;
   }
}
main .scroll .chat-box .suggestions .content i {
   font-size: calc(var(--font-s));
   text-align: center;
   color: light-dark(#000, #fff);
   height: min-content;
}
main .scroll .chat-box .suggestions .content p {
   font-size: var(--card-font-s);
   font-family: f6b;
   text-align: center;
   color: light-dark(#555, #aaa);
   transition: ease-in-out color 300ms;
}
@media (hover: hover) and (pointer: fine) {
   main .scroll .chat-box .suggestions .content:hover {
      background: light-dark(#fff5, #0005);
   }
   main .scroll .chat-box .suggestions .content:hover p {
      color: light-dark(#000, #fff);
   }
}
main .scroll .chat-box .suggestions .content:active {
   background: light-dark(#fff5, #0005);
}
main .scroll .chat-box .suggestions .content:active p {
   color: light-dark(#000, #fff);
}

/* -------- color for prompt ---------- */
.message pre code[class*="language-"] {
   text-shadow: 0 1px #000;
   font-family: f0;
   font-size: calc(var(--font-s) * 0.8);
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
}

/* ---------------- copy -------------------- */
.message pre code[class*="language-"] .copy {
   position: absolute;
   right: calc(var(--m) / 2);
   top: calc(var(--m) / 2);
   cursor: var(--cursor);
   height: calc(var(--s) * 1.5);
   width: calc(var(--s) * 1.5);
   border: solid 1px #0001;
   border-radius: calc(var(--m));
   font-size: calc(var(--font-s));
   display: grid;
   place-items: center;
   color: #fff;
   background: light-dark(var(--code-light), var(--code-dark));
}
.message pre code[class*="language-"] .copy:active {
   color: #0f0;
}
/* ------------------------------------------------------- */
.message code[class*="language-"] ::-moz-selection,
.message code[class*="language-"]::-moz-selection,
.message pre[class*="language-"] ::-moz-selection,
.message pre[class*="language-"]::-moz-selection {
   text-shadow: none;
   background: #b3d4fc;
}
.message code[class*="language-"] ::selection,
.message code[class*="language-"]::selection,
.message pre[class*="language-"] ::selection,
.message pre[class*="language-"]::selection {
   text-shadow: none;
   background: #b3d4fc;
}
@media print {
   code[class*="language-"],
   pre[class*="language-"] {
      text-shadow: none;
   }
}
.message pre[class*="language-"] {
   overflow: auto;
}
.message pre {
   background: light-dark(var(--code-light), var(--code-dark));
   border-radius: var(--m);
   outline: solid 1px light-dark(#777, #323232);
}
.message :not(pre) > code[class*="language-"] {
   white-space: normal;
   color: light-dark(#333, #fff);
}
.message pre code {
   color: #ddd;
   font-family: f0;
}

.message ul,
.message ol {
   padding: 0 calc(var(--m));
}
.message ul li,
.message ol li {
   margin-left: calc(var(--m));
   padding: calc(var(--m) / 4) 0;
}
.message strong *,
.message strong {
   font-family: f6b;
   font-weight: 700;
   color: light-dark(#000, #fff);
}
.message ul ::marker {
   content: "◆ ";
   font-size: calc(var(--font-s) * 1.2);

   color: light-dark(#0004ff, #2d7dff);
}
.message ol ::marker {
   font-size: calc(var(--font-s) * 0.8);
   font-family: f7b;
   color: light-dark(#9000ff, #ba60ff);
}

.message:not(pre) > p {
   display: inline;
}
.message:not(pre) > p * {
   display: inline;
   height: min-content;
}
.message:not(pre) ul li *,
.message:not(pre) ol li * {
   display: inline;
}

.message code * {
   font-family: f0;
   font-size: calc(var(--font-s) * 0.8);
}
.message code > * {
   line-height: 1.5;
}
.message code {
   display: block;
   overflow-x: auto;
}
.message pre {
   position: relative;
   padding: calc(var(--m));
   border-radius: calc(var(--m) / 2);
}
.message table {
   outline: solid 1px light-dark(#000, #fff);
   border-radius: var(--m);
   overflow: hidden;
}
.message table tr td,
.message table tr th {
   position: relative;
   color: light-dark(#000e, #ffe);
   padding: calc(var(--m));
   outline: solid 1px light-dark(#000, #fff);
   background: light-dark(#fff4, #0004);
}
.message table tr th {
   background: light-dark(#fff8, #0008);
}
.message table tr:first-child {
   border-top-left-radius: var(--m);
   border-top-right-radius: var(--m);
}
.message table tr:first-child th:first-child {
   border-top-left-radius: inherit;
}
.message table tr:first-child th:last-child {
   border-top-right-radius: inherit;
}
.message table tr:last-child {
   border-bottom-left-radius: var(--m);
   border-bottom-right-radius: var(--m);
}
.message table tr:last-child td:first-child {
   border-bottom-left-radius: inherit;
}
.message table tr:last-child td:last-child {
   border-bottom-right-radius: inherit;
}
.message a {
   color: #0080ff;
}

.message pre code .hljs-comment {
   color: #6272a4;
   font-style: italic;
}
.message pre code .hljs-punctuation {
   color: #f8f8f2;
   font-weight: bold;
}
.message pre code .hljs-tag {
   color: #ffffff;
}
.message pre code .hljs-tag .hljs-attr {
   color: #50fa7b;
   font-style: italic;
}
.message pre code .hljs-tag .hljs-name {
   color: #ff79c6;
}
.message pre code .hljs-attribute {
   color: #50fa7b;
   font-style: italic;
}
.message pre code .hljs-doctag {
   color: #bd93f9;
}
.message pre code .hljs-keyword {
   color: #ff79c6;
}
.message pre code .hljs-meta .hljs-keyword {
   color: #ff79c6;
}
.message pre code .hljs-name {
   color: #8be9fd;
}
.message pre code .hljs-selector-tag {
   color: #ff79c6;
}
.message pre code .hljs-deletion {
   color: #ff5555;
}
.message pre code .hljs-number {
   color: #bd93f9;
}
.message pre code .hljs-quote {
   color: #f1fa8c;
   font-style: italic;
}
.message pre code .hljs-selector-class {
   color: #8be9fd;
}
.message pre code .hljs-selector-id {
   color: #8be9fd;
}
.message pre code .hljs-string {
   color: #f1fa8c;
}
.message pre code .hljs-template-tag {
   color: #50fa7b;
}
.message pre code .hljs-type {
   color: #8be9fd;
}
.message pre code .hljs-section {
   color: #bd93f9;
}
.message pre code .hljs-title {
   color: #bd93f9;
}
.message pre code .hljs-link {
   color: #8be9fd;
   font-style: underline;
}
.message pre code .hljs-operator {
   color: #ff79c6;
}
.message pre code .hljs-regexp {
   color: #f1fa8c;
}
.message pre code .hljs-selector-attr {
   color: #50fa7b;
}
.message pre code .hljs-selector-pseudo {
   color: #50fa7b;
}
.message pre code .hljs-symbol {
   color: #bd93f9;
}
.message pre code .hljs-template-variable {
   color: #bd93f9;
}
.message pre code .hljs-variable {
   color: #f8f8f2;
}
.message pre code .hljs-literal {
   color: #bd93f9;
}
.message pre code .hljs-addition {
   color: #50fa7b;
}
.message pre code .hljs-built_in {
   color: #8be9fd;
   font-style: italic;
}
.message pre code .hljs-bullet {
   color: #50fa7b;
}
.message pre code .hljs-code {
   color: #f1fa8c;
}
.message pre code .hljs-meta {
   color: #587deb;
}

.message pre code .hljs-emphasis {
   font-style: italic;
}
.message pre code .hljs-strong {
   font-weight: 900;
}
