main {
   position: relative;
   width: 100%;
   height: 100%;
   background: #fff;
   z-index: 4;
}
main header {
   position: relative;
   width: 100%;
   height: calc(var(--s) * 2.8);
   padding: 0 calc(var(--s) * 3.4);
   background: #8334dd;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
main header .icon {
   position: relative;
   width: calc(var(--s) * 2.8);
   height: calc(var(--s) * 2.8);
   display: grid;
   place-items: center;
}
main header .icon img {
   width: 80%;
   height: 80%;
}





main .chat-box {
   height: max-content;
   overflow-y: auto;
}
.chat-box .chat {
   display: flex;
}
.chat-box .incoming span {
   height: 32px;
   width: 32px;
   align-self: flex-end;
   background: #f2f2f2;
   color: #fcf3f3;
   text-align: center;
   line-height: 32px;
   border-radius: 50%;
   margin: 0 10px 7px 0;
}
.chat-box .outgoing {
   margin: 20px 0;
   justify-content: flex-end;
}
.chat-box .chat p {
   color: #fff;
   font-size: 0.95 rem;
   max-width: 75%;
   padding: 12px 16px;
   border-radius: 10px 10px 0 10px;
   background: #8334dd;
}
.chat-box .incoming p {
   color: #000;
   background: #f2f2f2;
   border-radius: 10px 10px 10px 0;
}


.chat-input {
   position: fixed;
   width: calc(100% - calc(var(--s) * 2));
   bottom: 0;
   left: 0;
   display: grid;
   grid-template-columns: auto calc(var(--s) * 2) calc(var(--s) * 2.6);
   gap: calc(var(--m));
   justify-items: center;
   align-items: end;
   margin: var(--s);
   background: #f1f1f1;
   border-radius: calc(var(--m));
   box-shadow: 0 2px 6px #00000077;
   border: solid 1px #0004;
   z-index: 4;
}

.input-sizer {
   position: relative;
   width: 100%;
   display: inline-grid;
   justify-content: start;
   margin: 5px;
}

.input-sizer::after,
.input-sizer textarea {
   width: 100%;
   grid-area: 1/2;
   font: inherit;
   padding: calc(var(--m) * 1.2) calc(var(--m) * 1.8);
   margin: 0;
   resize: none;
   background: none;
   appearance: none;
   outline: none;
   border: none;
}
.input-sizer::after {
   content: attr(data-value) " ";
   visibility: hidden;
   white-space: pre-wrap;
}
.input-sizer:focus-within {
   outline: none;
   box-shadow: 0;
}
.input-sizer:focus-within textarea:focus {
   outline: none;
}


.chat-input #send-button {
   width: calc(var(--s) * 2);
   height: calc(var(--s) * 2);
   background: transparent;
   display: grid;
   place-items: center;
   margin-bottom: calc(var(--m) / 2);
   border-radius: calc(var(--m));
   transition: ease 300ms background;
}

.chat-input #send-button:hover {
   background: #8334dd;
   box-shadow: 1px 2px 4px #000;
   border: solid 1px #0004;
}

.chat-input #send-button i {
   font-size: calc(var(--font-s) * 1.4);
   color: #8334dd;
   transition: ease 300ms color;
}

.chat-input #send-button:hover i {
   color: #ffffff;
}

.chat-input .voice-input {
   display: grid;
   place-items: center;
   width: calc(var(--s) * 2);
   height: calc(var(--s) * 2);
   border-radius: calc(var(--m));
   margin-bottom: calc(var(--m) / 2);
   background: #8334dd;
   box-shadow: 1px 2px 4px #000;
   border: solid 1px #0004;
}

.voice-input i {
   font-size: calc(var(--font-s) * 1.4);
   color: #fff;
}