:root {
   color-scheme: light dark;
   --s: 20px;
   --font-s: 18px;
   --m: 8px;

   --nav-w: 280px;
   --input-h: 60px;
   --input-w: calc(100% - var(--s) * 2);
   --input-h-max: 300px;

   --voice-view-w: 250px;
   --voice-view-h: 300px;

   --chat-w: 100%;

   
   --color-primary: linear-gradient(to top left, #6200ff, #8c00ff);
   --color-primary-i: #6200ff;
   
   --dark-menu: #161a2d;
   --light-menu: #e2e2e2;

   --dark-main: #333333;
   --light-main: #f1f1f1;

   --code-dark: #282a38;
   --code-light: #282a38de;
}
@media (min-width: 600px) {
   :root {
      --nav-w: 300px;
      --input-w: 80%;
      --s: 22px;
      --font-s: 19px;
      --m: 9px;
      --chat-w: 98%;
   }
}
@media (min-width: 750px) {
   :root {
      --input-w: 75%;
      --chat-w: 90%;
   }
}
@media (min-width: 900px) {
   :root {
      --input-w: 70%;
      --chat-w: 84%;
      --m: 9px;
   }
}
@media (min-width: 1100px) {
   :root {
      --input-w: 60%;
      --chat-w: 78%;
      --m: 9px;
   }
}
@media (min-width: 1300px) {
   :root {
      --input-w: calc(var(--s) * 38);
      --chat-w: 70%;
      --m: 9px;
   }
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -ms-user-select: none;
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
   font-family: f3;
   
   /* outline: solid 1px #f003; */
}

*::-webkit-scrollbar {
   display: none;
}

body {
   position: relative;
   width: 100svw;
   height: 100svh;
   display: flex;
   overflow: hidden;
   background: light-dark(var(--light-main), var(--dark-main));
}
