:root {
   color-scheme: light dark;
   --s: 20px;
   --font-s: 18px;
   --m: 8px;

   --nav-w: 280px;
   --input-h: 60px;
   --input-h-max: 300px;

   --voice-view-w: 250px;
   --voice-view-h: 300px;

   
   --color-primary: linear-gradient(to top left, #6200ff, #8c00ff);
   --color-primary-i: #6200ff;
   
   --dark-menu: #161a2d;
   --light-menu: #e2e2e2;

   --dark-main: #333333;
   --light-main: #f1f1f1;

   --code-dark: #282a38;
   --code-light: #282a38de;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -ms-user-select: none;
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
   font-family: f3;
   
   /* outline: solid 1px #f003; */
}

*::-webkit-scrollbar {
   display: none;
}

body {
   position: relative;
   width: 100svw;
   height: 100svh;
   display: flex;
   overflow: hidden;
   background: light-dark(var(--light-main), var(--dark-main));
}
