* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -ms-user-select: none;
   font-family: f3;
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
   display: none;
}

:root {
   --s: 20px;
   --font-s: 18px;
   --m: 8px;

   --nav-w: 280px;
   --input-h: 60px;
   --input-h-max: 200px;

   --dark-menu: #161a2d;
   --light-menu: #f1f1f1;

   --dark-main: #333333;
   --light-main: #f1f1f1;

   --color-primary: linear-gradient(to top left, #6200ff, #8c00ff);
   --color-primary-i: #6200ff;

   --code-dark: #282a38e6;
   --code-light: #f2f2f2;
}

body {
   position: relative;
   width: 100svw;
   height: 100svh;
   display: flex;
   overflow: hidden;
   background: light-dark(var(--dark-main), var(--light-main));
}
