.chat-input {
   position: fixed;
   width: calc(100% - calc(var(--s) * 2));
   height: auto !important;
   bottom: 0;
   left: 0;
   display: grid;
   grid-template-columns: auto calc(var(--s) * 2) calc(var(--s) * 2.6);
   gap: calc(var(--m));
   justify-items: center;
   align-items: end;
   margin: var(--s);
   z-index: 4;
}
.chat-input::after {
   content: "";
   position: absolute;
   width: 200%;
   bottom: -45%;
   height: 150%;
   backdrop-filter: blur(3px);
   -webkit-backdrop-filter: blur(3px);
   z-index: -1;
}
.chat-input::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background: light-dark(#f1f1f1, #1a1a1a);
   border-radius: calc(var(--m));
   box-shadow: 0 2px 6px #00000077;
   border: solid 1px #0004;
   z-index: 1;
}

.input-sizer {
   position: relative;
   width: 100%;
   height: auto !important;
   display: inline-block;
   z-index: 2;
}

.input-sizer textarea {
   position: relative;
   width: inherit;
   height: max-content;
   font-family: f3;
   font-size: calc(var(--font-s) * 0.9);
   padding: var(--m) calc(var(--m) * 2);
   resize: none;
   background: transparent;
   appearance: none;
   outline: none;
   border: none;
   z-index: 2;
}
.input-sizer::after {
   content: attr(data-value) " ";
   visibility: hidden;
   white-space: pre-wrap;
}
.input-sizer:focus-within {
   outline: none;
   box-shadow: 0;
}
.input-sizer:focus-within textarea:focus {
   outline: none;
}

.chat-input #send-button {
   width: calc(var(--s) * 2);
   height: calc(var(--s) * 2);
   display: grid;
   place-items: center;
   transform: translateY(3px);
   margin-bottom: calc(calc(var(--input-h) - var(--s) * 2) / 4);
   border-radius: calc(var(--m));
   background: transparent;
   transition: ease-in-out 200ms background;
   cursor: var(--cursor);
   z-index: 2;
}

.chat-input #send-button i {
   font-size: calc(var(--font-s) * 1.4);
   color: var(--color-primary-i);
   transition: ease-in-out 200ms color;
}
@media (hover: hover) and (pointer: fine) {
   .chat-input #send-button:hover {
      box-shadow: 1px 2px 4px #000;
      border: solid 1px #0004;
      background: var(--color-primary-i);
   }
   .chat-input #send-button:hover i {
      color: #ffffff;
   }
}
.chat-input #send-button:active {
   background: var(--color-primary);
   box-shadow: 1px 2px 4px #000;
   border: solid 1px #0004;
}
.chat-input #send-button:active i {
   color: #ffffff;
}

.chat-input .voice-input {
   display: grid;
   place-items: center;
   width: calc(var(--s) * 2);
   height: calc(var(--s) * 2);
   border-radius: calc(var(--m));
   margin-bottom: calc(calc(var(--input-h) - var(--s) * 2) / 6);
   background: var(--color-primary);
   box-shadow: 1px 2px 4px #000;
   border: solid 1px #0004;
   cursor: var(--cursor);
   z-index: 2;
}

.voice-input i {
   font-size: calc(var(--font-s) * 1.4);
   transition: ease-in-out 300ms font-size;
   color: #fff;
}
@media (hover: hover) and (pointer: fine) {
   .voice-input:hover i {
      font-size: calc(var(--font-s) * 1.6);
   }
}
.voice-input:active i {
   font-size: calc(var(--font-s) * 1.6);
}




/* ------------- voice chat viewer ------------- */
.voice-view {
   position: fixed;
   width: var(--voice-view-w);
   height: var(--voice-view-h);
   top: 150%;
   left: 150%;
   transform: translate(-50%, -50%);
   display: grid;
   gap: calc(var(--m));
   padding: calc(var(--m));
   border-radius: calc(var(--m) * 3);
   transition-duration: 400ms;
   transition-timing-function: ease-in-out;
   opacity: 0;
   transition-property: top left opacity;
   z-index: 6;
}

.voice-view.active::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   border: solid 1px #000;
   background: var(--color-primary);
   border-radius: inherit;
   box-shadow: inset 0px 0px 3px #fff;
   z-index: -1;
}
.voice-view::before {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 0;
   height: 0;
   background: transparent;
   transition-duration: 200ms;
   transition-delay: 0;
   transition-timing-function: ease-in-out;
   backdrop-filter: blur(1px);
   -webkit-backdrop-filter: blur(1px);
   transition-property: width height background;
   z-index: -2;
}
.voice-view.active::before {
   width: 100svw;
   height: 100svh;
   transition-duration: 200ms;
   transition-delay: 200ms;
   background: rgba(0, 0, 0, 0.3);
}

.voice-view.active {
   top: 50%;
   left: 50%;
   opacity: 1;
}
.voice-view .voice-icon {
   position: relative;
   width: calc(var(--voice-view-w) / 3);
   height: calc(var(--voice-view-w) / 3);
   margin: auto;
   display: grid;
   place-items: center;
   font-size: calc(var(--font-s) * 4);
   color: #fff;
   text-shadow: 0 0 1px #000;
}
.voice-view .voice-icon::before {
   content: "";
   position: absolute;
   width: calc(80px * var(--extra) + var(--scale) * 0.5 * 1px);
   height: calc(80px * var(--extra) + var(--scale) * 0.5 * 1px);
   border-radius: 50%;
   background: radial-gradient(
      circle,
      #f002 20%,
      #0000 30%,
      #1500ff33 60%,
      #fff6 80%
   );
   transition: background 30ms linear;
   z-index: 1;
}
.voice-view .voice-icon i {
   z-index: 2;
   text-shadow: 0 0 calc(6px * var(--extra))
      hsl(calc(100 + var(--scale) * 6), 100%, 50%);
}

.voice-view .voice-text-show {
   position: relative;
   width: 96%;
   height: calc(var(--voice-view-w) / 2.4);
   margin: auto;
   display: grid;
   font-size: calc(var(--font-s) / 1.4);
   background: #0002;
   border-radius: calc(var(--m));
   box-shadow: inset 0 0 2px #000;
}
.voice-view .voice-text-show textarea {
   position: absolute;
   padding: calc(var(--m));
   color: #fff;
   width: 100%;
   height: 100%;
   resize: none;
   outline: none;
   border: none;
   background: transparent;
}

.voice-view .buttons {
   position: relative;
   width: 90%;
   height: calc(var(--voice-view-w) / 5);
   margin: auto;
   display: grid;
   gap: calc(var(--m));
   place-items: center;
   grid-template-columns: repeat(4, 1fr);
   text-shadow: 0 0 1px #0008;
}
.voice-view .buttons div[class*="voice-"] {
   position: relative;
   width: 100%;
   height: 100%;
   display: grid;
   place-items: center;
   border-radius: var(--m);
   background: #0004;
   box-shadow: -1px -1px 2px #fff5, 2px 2px 3px #0007;
   transition: linear 300ms background;
   z-index: 2;
   cursor: var(--cursor);
}
.voice-view .buttons div[class*="voice-"] i {
   color: #fff;
   font-size: calc(var(--font-s) * 1.6);
   transition: ease-in-out 300ms color;
}

/* ------------- play button ---------- */
.voice-view .buttons div[class*="voice-"]:first-child i {
   color: #01faf6;
   font-size: calc(var(--font-s) * 2);
}
@media (hover: hover) and (pointer: fine) {
   .voice-view .buttons div[class*="voice-"]:first-child:hover {
      background: #01faf6;
   }
   .voice-view .buttons div[class*="voice-"]:first-child:hover i {
      color: #001789;
   }
}
.voice-view .buttons div[class*="voice-"]:first-child:active {
   background: #01faf6;
}
.voice-view .buttons div[class*="voice-"]:first-child:active i {
   color: #001789;
}

/* ------------- stop button ---------- */
.voice-view .buttons div[class*="voice-"]:nth-child(2) i {
   color: rgba(255, 0, 0, calc(0.2 + var(--extra) * 0.8));
   font-size: calc(var(--font-s) * 1.8);
}
.voice-view .buttons div[class*="voice-"]:nth-child(2)::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: inherit;
   z-index: -1;
   background: rgba(255, 255, 255, calc(var(--extra) * 0.8));
}
@media (hover: hover) and (pointer: fine) {
   .voice-view .buttons div[class*="voice-"]:nth-child(2):hover {
      background: rgba(250, 1, 1, calc(var(--extra)));
   }
   .voice-view .buttons div[class*="voice-"]:nth-child(2):hover::before {
      background: transparent;
   }
   .voice-view .buttons div[class*="voice-"]:nth-child(2):hover i {
      color: rgba(255, 255, 255, calc(var(--extra)));
   }
}
.voice-view .buttons div[class*="voice-"]:nth-child(2):active {
   background: rgba(250, 1, 1, calc(var(--extra)));
}
.voice-view .buttons div[class*="voice-"]:nth-child(2):active::before {
   background: transparent;
}
.voice-view .buttons div[class*="voice-"]:nth-child(2):active i {
   color: rgba(255, 255, 255, calc(var(--extra)));
}

/* ------------- send button ---------- */
.voice-view .buttons div[class*="voice-"]:nth-child(3) i {
   font-size: calc(var(--font-s) * 1.3);
}
@media (hover: hover) and (pointer: fine) {
   .voice-view .buttons div[class*="voice-"]:nth-child(3):hover {
      background: #fff;
   }
   .voice-view .buttons div[class*="voice-"]:nth-child(3):hover i {
      color: var(--color-primary-i);
   }
}

.voice-view .buttons div[class*="voice-"]:nth-child(3):active {
   background: #fff;
}
.voice-view .buttons div[class*="voice-"]:nth-child(3):active i {
   color: var(--color-primary-i);
}

/* ------------- close button ---------- */
.voice-view .buttons div[class*="voice-"]:last-child i {
   color: #f00;
}
@media (hover: hover) and (pointer: fine) {
   .voice-view .buttons div[class*="voice-"]:last-child:hover {
      background: #f00;
   }
   .voice-view .buttons div[class*="voice-"]:last-child:hover i {
      color: #fff;
   }
}
.voice-view .buttons div[class*="voice-"]:last-child:active {
   background: #f00;
}
.voice-view .buttons div[class*="voice-"]:last-child:active i {
   color: #fff;
}

#temp-for-read {
   display: none;
}
