.chat-input {
   position: fixed;
   width: calc(100% - calc(var(--s) * 2));
   bottom: 0;
   left: 0;
   display: grid;
   grid-template-columns: auto calc(var(--s) * 2) calc(var(--s) * 2.6);
   gap: calc(var(--m));
   justify-items: center;
   align-items: end;
   margin: var(--s);
   z-index: 4;
}
.chat-input::after {
   content: "";
   position: absolute;
   width: 200%;
   bottom: -45%;
   height: 150%;
   backdrop-filter: blur(3px);
   -webkit-backdrop-filter: blur(3px);
   z-index: -1;
}
.chat-input::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background: light-dark(#f1f1f1, #1a1a1a);
   border-radius: calc(var(--m));
   box-shadow: 0 2px 6px #00000077;
   border: solid 1px #0004;
   z-index: 1;
}

.input-sizer {
   position: relative;
   width: 100%;
   overflow: hidden;
   display: grid;
   margin: auto;
   justify-content: flex-start;
   z-index: 2;
}

.input-sizer::after,
.input-sizer textarea {
   position: relative;
   width: 200%;
   grid-area: 1/2;
   font: inherit;
   padding: var(--m) calc(var(--m) * 2);
   margin: 0;
   resize: none;
   background: none;
   appearance: none;
   outline: none;
   border: none;
   z-index: 2;
}
.input-sizer::after {
   content: attr(data-value) " ";
   visibility: hidden;
   white-space: pre-wrap;
}
.input-sizer:focus-within {
   outline: none;
   box-shadow: 0;
}
.input-sizer:focus-within textarea:focus {
   outline: none;
}


.chat-input #send-button {
   width: calc(var(--s) * 2);
   height: calc(var(--s) * 2);
   background: transparent;
   display: grid;
   place-items: center;
   margin-bottom: calc(calc(var(--input-h) - var(--s) * 2) / 4);
   border-radius: calc(var(--m));
   transition: ease 300ms background;
   z-index: 2;
}

.chat-input #send-button:hover {
   background: var(--color-primary);
   box-shadow: 1px 2px 4px #000;
   border: solid 1px #0004;
}

.chat-input #send-button i {
   font-size: calc(var(--font-s) * 1.4);
   color: var(--color-primary-i);
   transition: ease 300ms color;
}

.chat-input #send-button:hover i {
   color: #ffffff;
}

.chat-input .voice-input {
   display: grid;
   place-items: center;
   width: calc(var(--s) * 2);
   height: calc(var(--s) * 2);
   border-radius: calc(var(--m));
   margin-bottom: calc(calc(var(--input-h) - var(--s) * 2) / 6);
   background: var(--color-primary);
   box-shadow: 1px 2px 4px #000;
   border: solid 1px #0004;
   z-index: 2;
}

.voice-input i {
   font-size: calc(var(--font-s) * 1.4);
   color: #fff;
}









.voice-view {
   position: fixed;
   width: var(--voice-view-w);
   height: var(--voice-view-h);
   bottom: -100%;
   right: -100%;
   transform: translate(-50%, -50%);
   background: var(--color-primary);
   border-radius: calc(var(--m) * 3);
   border: solid 1px #000;
   display: grid;
   gap: calc(var(--m));
   padding: calc(var(--m));
   box-shadow: inset 0px 0px 3px #fff;
   outline: none;
   transition-duration: 400ms;
   opacity: 0;
   transition-timing-function: ease-in-out;
   transition-property: bottom right transform outline opacity;
   z-index: 4;
}

.voice-view.active {
   bottom: 0%;
   right: 0%;
   transform: translate(-50%, -50%);
   outline: solid 10000px #0007;
   opacity: 1;
}
.voice-view .voice-icon {
   position: relative;
   width: calc(var(--voice-view-w) / 3);
   height: calc(var(--voice-view-w) / 3);
   margin: auto;
   display: grid;
   place-items: center;
   font-size: calc(var(--font-s) * 3);
   text-shadow: 0 0 1px #000;
   color: #fff;
}

.voice-view .voice-text-show {
   position: relative;
   width: 96%;
   height: calc(var(--voice-view-w) / 2.4);
   margin: auto;
   display: grid;
   padding: calc(var(--m));
   font-size: calc(var(--font-s) / 1.4);
   background: #0002;
   border-radius: calc(var(--m));
   color: #fff;
}

.voice-view .buttons {
   position: relative;
   width: 90%;
   height: calc(var(--voice-view-w) / 5);
   margin: auto;
   display: grid;
   gap: calc(var(--m));
   place-items: center;
   grid-template-columns: repeat(4, 1fr);
   text-shadow: 0 0 1px #000;
}
.voice-view .buttons div[class*="voice-"] {
   position: relative;
   width: 100%;
   height: 100%;
   display: grid;
   place-items: center;
   border-radius: var(--m);
   background: #0004;
   transition: linear 200ms background;
}
.voice-view .buttons div[class*="voice-"]:hover {
   background: #fff6;
}
.voice-view .buttons div[class*="voice-"]:active {
   background: #0f04;
}
.voice-view .buttons div[class*="voice-"] i {
   color: #fff;
   font-size: calc(var(--font-s) * 1.6);
}
.voice-view .buttons div[class*="voice-"]:last-child i {
   color: #ff0000cc;
   font-size: calc(var(--font-s) * 2);
}
.voice-view .buttons div[class*="voice-"]:last-child:hover i {
   color: #ff0000;
}