nav {
   --title-h: calc(var(--s) * 2.5);
   --new-btn-h: calc(var(--s) * 2);
   --history-h: calc(var(--s) * 2.2);
   --gap: calc(var(--s) / 3);
   --nav-padding: calc(var(--s) / 2);
   --scroll-margin: calc(var(--s) / 3);

   --scroll-h: calc(
      100svh -
         calc(
            var(--title-h) + var(--new-btn-h) + var(--history-h) + var(--scroll-margin) *
               2 + var(--nav-padding) * 2 + var(--gap) * 4
         )
   );

   position: fixed;
   top: 0;
   left: calc(var(--nav-w) * -1);
   height: 100%;
   width: var(--nav-w);
   background: light-dark(var(--light-menu), var(--dark-menu));
   padding: calc(var(--s) / 2);
   border-right: solid 2px light-dark(#fff, #000);
   transition:  left 400ms;
   z-index: 5;
}
body nav #outside {
   position: absolute;
   left: calc(var(--nav-w) * 1);
   top: 0;
   width: 0px;
   height: 100%;
   background: light-dark(#fff1, #0001);
   backdrop-filter: blur(1px);
   -webkit-backdrop-filter: blur(1px);
   opacity: 0;
   transition: 400ms opacity;
   z-index: 5;
}
body.active-nav nav {
   left: 0;
}
@media (max-width: 850px) {
   body.active-nav nav #outside {
      width: 100svw;
      opacity: 1;
   }
}

/* --------- toggle button ---------- */
nav #toggle-menu {
   position: absolute;
   width: calc(var(--s) * 2);
   height: calc(var(--s) * 2);
   top: calc(var(--m));
   right: calc(var(--s) * -3);
   display: grid;
   cursor: var(--cursor);
   place-items: center;
   transition: ease-in-out right 300ms;
   z-index: 5;
}
body.active-nav nav #toggle-menu {
   right: calc(var(--s));
}
nav #toggle-menu span {
   position: absolute;
   width: calc(var(--s) / 1.4 * 2);
   height: calc(var(--s) / 10 * 2);
   border-radius: calc(var(--s) / 1.5);
   background: #fff;
   outline: solid 1px #0003;
   transition: ease-in-out 0.3s;
   transform: scale(1);
}
nav #toggle-menu span:first-child {
   transform: translateY(calc(var(--s) / 5 * 2));
}
nav #toggle-menu span:last-child {
   transform: translateY(calc(var(--s) / -5 * 2));
}
body.active-nav nav #toggle-menu span {
   width: calc(var(--s) / 1.3 * 2);
   height: calc(var(--s) / 9 * 2);
   background: #f00;
}
body.active-nav nav #toggle-menu span:first-child {
   transform: translateY(0) rotate(-225deg);
}
body.active-nav nav #toggle-menu span:nth-child(2) {
   transform: scale(0);
}
body.active-nav nav #toggle-menu span:last-child {
   transform: translateY(0) rotate(225deg);
}



/* --------- sidebar ---------- */
nav .sidebar {
   position: relative;
   width: 100%;
   height: 100%;
   flex-direction: column;
   display: flex;
   gap: var(--gap);
   transition: all 400ms ease;
}

.sidebar-header {
   position: relative;
   width: 100%;
   height: var(--title-h);
   gap: calc(var(--s) * 0.8);
   padding: var(--m);
   display: flex;
   align-items: center;
}
.sidebar-header img {
   width: calc(var(--s) * 2.2);
   border-radius: 50%;
}
.sidebar-header h2 {
   font-size: calc(var(--s) * 1.4);
   font-weight: 600;
   color: light-dark(#000, #fff);
}
.new-conversation {
   position: relative;
   width: calc(100% - var(--m) * 2);
   height: var(--new-btn-h);
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: nowrap;
   color: light-dark(#000, #fff);
   font-weight: 500;
   gap: calc(var(--s) * 0.6);
   padding: calc(var(--m));
   margin: calc(var(--m) / 2) var(--m);
   font-size: calc(var(--font-s) * 1.2);
   border-radius: calc(var(--m));
   background: light-dark(#00000011, #ffffff11);
   transition: ease 300ms color, ease 300ms background;
   cursor: var(--cursor);
}
@media (hover: hover) and (pointer: fine) {
   .new-conversation:hover {
      color: #00a2ff;
      background: light-dark(#0003, #fff3);
   }
}
.new-conversation:active {
   color: #00a2ff;
   background: light-dark(#0002, #fff2);
}
.new-conversation span {
   font-family: f5b;
}
.history-title {
   position: relative;
   width: 100%;
   height: var(--history-h);
   display: flex;
   justify-content: start;
   align-items: center;
   gap: calc(var(--s) * 0.3);
   color: light-dark(#000, #fff);
   padding: calc(var(--m));
   padding-top: calc(var(--m) * 3);
   font-size: calc(var(--font-s) * 1);
   width: 100%;
}
nav .scroll {
   position: relative;
   width: 100%;
   height: var(--scroll-h);
   overflow-x: hidden;
   overflow-y: scroll;
   margin: var(--scroll-margin) 0;
}
.history-list {
   position: relative;
   width: 100%;
   height: max-content;
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: calc(var(--s) / 4);
}

.history-list li {
   position: relative;
   width: 100%;
   height: calc(var(--s) * 2);
   padding: 0 calc(var(--m) * 1.4);
   display: grid;
   place-items: center;
   grid-template-columns: min-content auto calc(var(--s) * 1.6);
   border-radius: calc(var(--m));
   border: solid 1px light-dark(#fff8, #0008);
   text-decoration: none;
   background: transparent;
   transition: 500ms background;
   overflow: hidden;
}
@media (hover: hover) and (pointer: fine) {
   .history-list li:hover {
      background: light-dark(#fffa, #000a);
   }
}
.history-list li:active {
   background: light-dark(#fff8, #0008);
}

.history-list li span {
   position: relative;
   width: 100%;
   height: 100%;
   padding: 0 calc(var(--m));
   color: light-dark(#3b3b3b, #dbd4d4e3);
   font-size: calc(var(--font-s) * 0.8);
   display: flex;
   overflow: hidden;
   white-space: nowrap;
   align-items: center;
   z-index: 5;
   cursor: var(--cursor);
}
.history-list li span::before {
   position: absolute;
   content: "";
   width: 120%;
   left: -20%;
   right: 10%;
   height: 100%;
   z-index: 6;
}
.history-list li i:last-child {
   transform: translateX(calc(var(--s) * 0.3));
   color: light-dark(#919191, #5b5b5b);
   transition: color 300ms;
   cursor: var(--cursor);
   z-index: 1;
}
@media (hover: hover) and (pointer: fine) {
   .history-list li i:last-child:hover {
      color: #ff0000;
   }
}
.history-list li i:last-child:active {
   color: #ff0000;
}
.history-list li i:first-child {
   font-size: calc(var(--font-s) * 1);
   color: light-dark(#444, #ccc);
}
.history-list li i:last-child {
   font-size: calc(var(--font-s) * 1.2);
   z-index: 6;
}
