@font-face {
   font-family: f0;
   src: url("../font/CascadiaCode.ttf") format("truetype");
}
@font-face {
   font-family: f3;
   src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
   font-family: f5b;
   src: url("../font/AlegreyaSansSC-Bold.ttf") format("truetype");
}
@font-face {
   font-family: f6b;
   src: url("../font/Nunito-Bold.ttf") format("truetype");
}
@font-face {
   font-family: f7b;
   src: url("../font/RobotoSlab-Bold.ttf") format("truetype");
}

